/* This is a custom style sheet for the CAST Library home page */

/* topic level 2 */

  .title_topic1 { 
    background: none;
	width:100%;
	padding: 6pt;
	padding-left: 10pt;
    font-style: italic;
    font-size: 36pt; 
	line-height: 36pt;
	margin-top:  6pt;
	margin-bottom:  12pt;
    color: #af0105;  }

/* Used to define para elements in an item. */
        
  .unmarkedList li p {
    margin-top: 0pt;
    margin-bottom: 0pt;
	}
