
A:link { color: #000080; }
A:visited { color: #000080; }
A:active { color: blue; }

H2 { 
   font-size: 10pt;
   font-family: Arial,Helvetica,sans-serif;
   color: #000080;
   margin-top: 5pt;
   margin-bottom: 6pt;
   margin-left: 5pt;
   text-decoration: none;
}

/*
  Format each of the four toolbars using the classes below.
  
  possible settings:
background-image: url('../graphics/icon_grad.jpg');
  background-repeat: repeat-x;
  background-position: top left;     
*/
.toolbar, .auxToolbar, .collectionAuxToolbar, .collectionToolbar {
   margin-top: 0pt;
   margin-bottom: 0pt;
   margin-left: 0pt;
}
  
.topicSetToc, collectionToc {
  margin-top: 3pt;
  margin-bottom: 0pt;
  margin-left: 8pt;
}

.tocTabs {
  margin-top: 3pt;
  margin-bottom: 0pt;
  margin-left: 0pt;
}

.assessment {
   font-size: 10pt;
   font-family: Arial,Helvetica,sans-serif;
   color: #000080;
   text-decoration: none;
   margin-left: 10pt;
   margin-bottom: 6pt;
}

.assessment_para {
   font-size: 10pt;
   font-family: Arial,Helvetica,sans-serif;
   color: #000080;
   margin-left: 10pt;
   margin-top: 0pt;
   margin-bottom: 3pt;
}

.node, .nofile {
   font-size: 8pt;
   font-family: Arial,Helvetica,sans-serif;
   margin-top: 2pt;
   margin-bottom: 0pt;
   vertical-align: middle;
   
}

a {
   text-decoration: none;
}

a.selected {
   background-color: #c0d2ec;
}

a:hover, a.selected:hover {
   color: #000080;
   text-decoration: underline;
}

.part {
   font-size: 10pt;
   font-family: Arial,Helvetica,sans-serif;
   color: #000080;
   font-weight: bold;
   margin-top: 5pt;
   margin-bottom: 3pt;
   margin-left: 0pt;
}

.part_tab {
   font-size: 10pt;
   font-family: Arial,Helvetica,sans-serif;
   color: #000080;
   border: 1px solid #cccccc;
}

.part_tab_selected {
   font-size: 10pt;
   font-family: Arial,Helvetica,sans-serif;
   color: #000080;
   background-color: #c0d2ec;
   border: 1px solid #cccccc;

}

a.part_tab_selected:hover, a.part_tab:hover {
   color: #000080;
   text-decoration: none;
   background-color: #DEDEDE;

}

/*
  Page numbers
 */

.pageOf {
   font-size: 10pt;
   font-family: Arial,Helvetica,sans-serif;
   color: #000080;
   text-decoration: none;
   background-color: #c0d2ec;
   vertical-align: middle;
}

/*
  Styles used in the bookmark list frame
 */
  
.bookmarkHead  { 
    font-weight: bold;
    font-size: 12pt; 
    font-family: Helvetica,Lucida; 
    color: #000080; 
    margin-top: 5px;
    margin-bottom: 0px; }
    
.courseName { 
   font-weight: bold; 
   font-size: 10pt; 
   font-family: Helvetica,Lucida; 
   margin-top: 0px;
   margin-bottom: 5px;
   color: #000080; 
} 
  
.bookmarkLink { 
   font-weight: normal; 
   font-size: 8pt; 
   font-family: Helvetica,Lucida; 
   margin-bottom: 4px;
   color: black; 
   text-decoration: none; 
}
  
hr { 
   margin-top: 0px;
   margin-bottom: 0px; 
}

img {
   vertical-align: middle;
}

p {
  font-size: 10pt;
  font-family: Arial,Helvetica,sans-serif;
  color: black;
  margin-bottom: 5pt;
  margin-top: 5pt; 
}


 .revealGraphicsBorder { border: 4pt double black;}
 
/*
 Styles used in the index frame
*/
  
form {
  font-size: 9pt;
  font-family: Arial,Helvetica,sans-serif;
  color: #000080;
  font-weight: bold;
}

input {
  font-size: 9pt;
  font-family: Arial,Helvetica,sans-serif;
}

.indexList {
  font-size: 9pt;
  font-family: Arial,Helvetica,sans-serif;
  color: #000080;
  text-decoration: none;
  background-color: #f6f6f6;
  width:275px;
}
