    

.navigator .para_td_last {
    font-size: 9pt;
    margin-left: 10pt;
    margin-right: 0pt; 
    margin-bottom: 0pt;
    margin-top: 0pt; }

.border1a .para_td_last, .dialog .para_td_last {
    margin-left: 0pt;
    margin-right: 0pt; 
    margin-bottom: 0pt;
    margin-top: 0pt; }

.dialog {
    background-color: #d3d3d3;
    text-align: left; 
    padding: 2px 2px;
    border-collapse: collapse; }

.menu_gray {
    background-color: #ebebeb;
    border: 0;
    text-align: left; 
    padding: 2px; }

.menu_gray td {
    vertical-align: center; }

.menu_gray p {
    font-size: 9pt;
    font-family: 'Arial', 'Helvetica', 'sans-serif'; 
    margin-bottom: 0pt;
    margin-top: 0pt; 
    }

.menu_white {
    background-color: white;
    border: 2px solid #a3a3a3;
    border-collapse: collapse;
    text-align: left; 
    padding: 2px;
}

.menu_white td {
    vertical-align: center
 }

.menu_white p {
    font-size: 9pt;
    font-family: 'Arial', 'Helvetica', 'sans-serif'; 
    margin-bottom: 0pt;
    margin-top: 0pt; 
    }

.menu_selected {
    background-color: #5b96ff;
    color: white;
    }

.border1 {
    background-color: white;
    text-align: left; 
    padding: 2px 2px;
    border-collapse: collapse;
    border: 1px solid #7f9db9; }

/*  added vertical align to original definition */	
.border1a {
    background-color: white;
    text-align: left; 
    padding: 2px 2px;
    border-collapse: collapse;
    border-top: 1px solid #7f9db9; 
    border-left: 1px solid #7f9db9; 
    border-bottom: 1px solid #7f9db9; 
	vertical-align: top;
    }

.border2 .para_td_last {
    font-size: 9pt;
    font-family: 'Arial', 'Helvetica', 'sans-serif'; 
    margin-left: 0pt;
    margin-right: 0pt; 
    margin-bottom: 0px;
    margin-top: 0px; }

/* changed nopadding to add borders */	
.nopadding { 
	padding: 0px 0px;
	border-collapse: collapse;
    border-top: 1px solid #7f9db9; 
    border-right: 1px solid #7f9db9; 
    border-bottom: 1px solid #7f9db9;
	vertical-align: top;
    }

.nopadding .para_td_last {
    text-align: left; 
    margin-left: 0pt;
    margin-right: 0pt; 
    margin-bottom: 0pt;
    margin-top: 0pt; 
    }

/*  Added font-weight: bold; to definition */
.option_list .para_td_last {
    font-size: 9pt;
	font-weight: bold;
    font-family: 'Arial', 'Helvetica', 'sans-serif'; 
    margin-left: 0pt;
    margin-right: 0pt; 
    margin-bottom: 0pt;
    margin-top: 0pt; 
    }
	
/* Styles for input field - similar to option list but with different color border (using border1b class     */
	
.input_field .para_td_last {
    font-size: 9pt;
	font-weight: bold;
    font-family: 'Arial', 'Helvetica', 'sans-serif'; 
    margin-bottom: 0pt;
    margin-top: 0pt; 
    }	

/* used with input_field */	
.border1b {
    background-color: white;
    text-align: left; 
    padding: 2px 2px;
    border-collapse: collapse;
    border-top: 1px solid #aaaaaa; 
    border-left: 1px solid #aaaaaa; 
    border-bottom: 1px solid #aaaaaa; 
	border-right: 1px solid #aaaaaa;
	vertical-align: top;
    }	

.check_box .para_td_last {
    font-size: 9pt;
    font-family: 'Arial', 'Helvetica', 'sans-serif'; 
    margin-left: 0pt;
    margin-right: 0pt; 
    margin-bottom: 0pt;
    margin-top: 0pt; 
    }

.check_box td { 
    background-color: #d3d3d3; 
    padding: 3px;
    }

.label1 { 
    background-color: #d3d3d3; 
    padding: 1px 4px;
    }

.label1 .para_td_last {
    font-size: 10pt;
    font-family: 'Arial', 'Helvetica', 'sans-serif'; 
    margin-left: 0pt;
    margin-right: 0pt; 
    margin-bottom: 0pt;
    margin-top: 0pt; 
  }
	
/* *********** Styles for CAE version of option list and input field *********** */

.label2 { background-color: #FFFFFF; 
    padding: 1px 4px;
	vertical-align: top;
 }
	
/* Styles for list box  */
	
.list_box .para_td_last {
    font-size: 9pt;
	font-weight: bold;
    font-family: 'Arial', 'Helvetica', 'sans-serif'; 
    margin-bottom: 0pt;
    margin-top: 0pt; 
	padding-bottom: 0px;
 }	
	
.list_box .uiTerm {
	font-size: 9pt;
 }	
	
.list_box .border1a  {
    padding-top: 2px;
 }			
	
.nopadding2 { 
	padding: 0px 0px;
	vertical-align: top;
 }
		
	
/* Style for a sizable group banner with text on it */

.banner_left {
	background: #fff url('../graphic_library/images/widgets/banner_left.gif') no-repeat top left; 
	height:100%;
 }	

.banner_right {
	background: #fff url('../graphic_library/images/widgets/banner_right.gif') no-repeat top right; 
	height:100%;
 }

.banner_middle {
	background: #fff url('../graphic_library/images/widgets/banner_middle.gif') repeat-x top left; 
	height:100%;
 }

.banner_middle .para_td_last {
    margin-top: 0pt;
	font-weight: bold;
	padding-top: 4px;
	padding-bottom: 4px;
	font-size: 9pt;
 }
 
.banner_middle .uiTerm, .button_middle .uiTerm, .tab_middle .uiTerm, .key_middle .uiTerm {
	font-size: 9pt;
 }			

/* Style for a sizable button with text on it */

.button_left {
	background: #fff url('../graphic_library/images/widgets/button_left.gif') no-repeat top left; 
	height:100%;
 }	

.button_right {
	background: #fff url('../graphic_library/images/widgets/button_right.gif') no-repeat top right; 
	height:100%;
}

.button_middle {
	background: #fff url('../graphic_library/images/widgets/button_middle.gif') repeat-x top left; 
	height:100%;
 }

.button_middle .para_td_last {
    margin-top: 0pt;
	font-weight: bold;
	padding-top: 3px;
	padding-bottom: 3px;
	font-size: 9pt;
 }	

	
/* Style for a sizable tab with text on it */

.tab_left {
	background: #fff url('../graphic_library/images/widgets/tab_left.gif') no-repeat top left; 
	height:100%;
 }

.tab_right {
	background: #fff url('../graphic_library/images/widgets/tab_right.gif') no-repeat top right; 
	height:100%;
 }

.tab_middle {
	background: #fff url('../graphic_library/images/widgets/tab_middle.gif') repeat-x top left; 
	height:100%;
 }

.tab_middle .para_td_last {
    margin-top: 0pt;
	font-weight: bold;
	padding-top: 4px;
	padding-left: 4px;
	padding-bottom: 5px;
	font-size: 9pt;
 }
	
/* Style for a sizable key with text on it */

.key_left {
	background: #fff url('../graphic_library/images/widgets/f_left.gif') no-repeat top right; 
	height:100%;
 }

.key_right {
	background: #fff url('../graphic_library/images/widgets/f_right.gif') no-repeat top left; 
	height:100%;
 }

.key_middle {
	background: #fff url('../graphic_library/images/widgets/f_middle.gif') repeat-x top left; 
	height:35px;
 }

.key_middle .para_td_last {
	font-weight: bold;
	font-size: 9pt;
 }	

/* *********** End NX emulation styles *********** */


/* *********** Styles for font color *********** */

.text_bold { font-weight: bold }

.text_italic { font-style: italic }

.text_bold_italic { font-weight: bold; font-style: italic }

.text_magenta { color: #ff00cc }

.text_blue { color: #0066ff }

.text_blue2 { color: #0000f7 }

.text_gray { color: #999999 }

.text_white { color: white }


/* *********** End font color styles *********** */

/* *********** Styles for TC emulation - tree tables *********** */
    

.tree .para_td {
    font-size: 9pt;
    font-family: 'Arial', 'Helvetica', 'sans-serif'; 
    margin-left: 10pt;
    margin-right: 0pt; 
    margin-bottom: 0px;
    margin-top: 0pt;
    vertical-align: middle; 
}


.tree .para_td_last{
    font-size: 9pt;
    font-family: 'Arial', 'Helvetica', 'sans-serif'; 
    margin-left: 10pt;
    margin-right: 0pt; 
    margin-bottom: 0px;
    margin-top: 0pt;
    vertical-align: middle; 
}


.tree td img {
    vertical-align: middle;
}
