
  A:link { color: darkblue; }
  A:visited { color: darkblue; }
  A:active { color: blue; }

h2 {
	font-weight: bold;
	font-size: 12pt; 
      	font-family: 'Arial', 'Helvetica', 'sans-serif'; 
	margin-left: 0pt;
	margin-right: 0pt;
	margin-top: 6pt;
	margin-bottom: 6pt;
	}
	
table { border-collapse: collapse;
        border: 1px solid black;
        border-spacing: 0;
        width: 100%;
        }

.th1 {
	width: 60%;
	border: 1px solid black;
	background-color: #efefef;
        padding: 3;
	font-weight: bold;
	font-size: 10pt; 
      	font-family: 'Arial', 'Helvetica', 'sans-serif';
      	text-align: left;
	margin-left: 0pt;
	margin-right: 0pt;
	margin-top: 0pt;
	margin-bottom: 0pt;
	}

.th2 {
	border: 1px solid black;
	width: 20%;
	background-color: #efefef;
        padding: 3;
	font-weight: bold;
	font-size: 10pt; 
      	font-family: 'Arial', 'Helvetica', 'sans-serif';
      	text-align: center;
	margin-left: 0pt;
	margin-right: 0pt;
	margin-top: 0pt;
	margin-bottom: 0pt;
	}

td {
	border: 1px solid black;
        padding: 3;
	font-size: 10pt; 
      	font-family: 'Arial', 'Helvetica', 'sans-serif'; 
	margin-left: 0pt;
	margin-right: 0pt;
	margin-top: 0pt;
	margin-bottom: 0pt;
	}