/* This is a custom style sheet for the CAST Library home page */

/* topic level 2 */

  .title_topic1 { 
    background: none;
	width:100%;
	padding: 6pt;
	padding-left: 12pt;
    font-style: italic;
    font-size: 28pt;
    font-weight: bold;
	line-height: 24pt;
	margin-top:  6pt;
	margin-bottom:  12pt;
    color: #0000c0;  }