
  A:link { color: darkblue; }
  A:visited { color: darkblue; }
  A:active { color: blue; }

h2 { 
	font-size: 18pt; 
      	font-family: 'Arial', 'Helvetica', 'sans-serif'; 
	color: darkblue;
	text-decoration: none; }

p { 
	font-size: 10pt; 
      	font-family: 'Arial', 'Helvetica', 'sans-serif'; 
	color: darkblue;
	}

.small  {
	font-size: 8pt; 
	}

.space { 
	margin-top: 0pt;
	margin-bottom: 3pt; }
	
.version {
	font-weight: bold;
	font-size: 8pt; 
      	font-family: 'Arial', 'Helvetica', 'sans-serif'; 
	margin-left: 0pt;
	margin-right: 0pt;
	margin-top: 0pt;
	margin-bottom: 0pt;
	color: darkblue;
	}

.related {
	font-weight: bold;
	font-size: 8pt; 
      	font-family: 'Arial', 'Helvetica', 'sans-serif'; 
	margin-left: 0pt;
	margin-right: 0pt;
	margin-top: 0pt;
	margin-bottom: 0pt;
	color: darkblue;
	text-decoration: none;
	}
	
.frame_layout {
	font-weight: bold;
	font-size: 8pt; 
      	font-family: 'Arial', 'Helvetica', 'sans-serif'; 
	margin-left: 3pt;
	margin-right: 0pt;
	margin-top: 0pt;
	margin-bottom: 0pt;
	color: darkblue;
	text-decoration: none;
	}
	
.related2 {
	font-weight: normal;
	font-size: 10pt;
      	font-family: 'Arial', 'Helvetica', 'sans-serif'; 
	margin-top: 0pt;
	margin-bottom: 6pt;
	color: black; }	

.link {
	font-weight: normal;
	font-size: 10pt; 
      	font-family: 'Arial', 'Helvetica', 'sans-serif'; 
	margin-top: 0pt;
	margin-bottom: 18pt;
	margin-left: 12pt;
	color: darkblue; }	